<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Easyjob | Select a Campaign</title>
    <link rel="stylesheet" href="page2glassdoor.css" />
  </head>
  <body>
    <div class="primaryCircle"></div>

    <div class="main">
      <div class="imgPart">
        <img src="../assets/images/img-page2.png" alt="page2img" />
      </div>

      <div class="textPart">
        <h1>Search Details</h1>
        <form id="form1">
          <input type="text" placeholder="Job Title" />
          <input type="text" placeholder="Location" />
          <input type="text" placeholder="Remote" />

          <div class="buttonPart">
            <button form="form1" type="button" id="secondaryButton">
              Back
            </button>
            <button form="form1" type="button" id="primaryButton">Next</button>
          </div>
        </form>
      </div>
    </div>

    <div class="secondaryCircle"></div>
  </body>
  <script type="text/javascript">
    let nextButton = document.getElementById("primaryButton");
    let goToNextPage = () => {
      window.location.href = "./page3glassdoor.html";
    };
    nextButton.addEventListener("click", () => {
      goToNextPage();
    });

    let previousButton = document.getElementById("secondaryButton");
    let goToPreviousPage = () => {
      window.location.href = "./page1.html";
    };
    previousButton.addEventListener("click", () => {
      goToPreviousPage();
    });
    
  </script>
</html>
