<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Easyjob | Candidacy Details</title>
    <link rel="stylesheet" href="page4.css" />
  </head>
  <body>
    <div class="primaryCircle"></div>

    <div class="main">
      <div class="textPart">
        <h1>Possible Questions</h1>
        <form id="form1">
          <input
            type="text"
            placeholder="Are you allowed to work in this country?"
          />
          <input type="text" placeholder="Do you need visa sponsorship?" />
          <input
            type="text"
            placeholder="How many years do you have in the skill?"
          />
          <input type="text" placeholder="Are you an army veteran?" />
          <input type="text" placeholder="Where are you located right now?" />
          <input type="text" placeholder="Do you have a bachelor degree?" />
        </form>

        <div class="buttonPart" }>
          <button form="form1" type="button" id="secondaryButton">Back</button>
          <button form="form1" type="button" id="primaryButton">Next</button>
        </div>
      </div>
    </div>

    <div class="secondaryCircle"></div>
  </body>

  <script type="text/javascript">
    let nextButton = document.getElementById("primaryButton");
    let goToNextPage = () => {
      window.location.href = "./page5.html";
    };
    nextButton.addEventListener("click", () => {
      goToNextPage();
    });

    let previousButton = document.getElementById("secondaryButton");
    let goToPreviousPage = () => {
      window.location.href = "./page3glassdoor.html";
    };
    previousButton.addEventListener("click", () => {
      goToPreviousPage();
    });
  </script>
</html>
