<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Easyjob  |  Apply to thousands of jobs in one click</title>
    <link rel="stylesheet" href="page0.css" />
  </head>
  <body>
    <div class="primaryCircle"></div>

    <div class="main">
      <img src="../assets/images/logo-easyjob.svg"/>
    </div>

    <div class="secondaryCircle"></div>

  </body>

  <script type="text/javascript">
    let goToNextPage = () => {window.location.href = "./page1.html"}
    setTimeout(goToNextPage, 1000);
  </script>
</html>
