.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.textPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form1 {
  display: flex;
  flex-direction: column;
  width: 17rem;
}

.form1 input {
  font-size: 1.1rem;
  color: white;
  height: 3rem;
  margin: 0.4rem 0;
  border-radius: 10rem;
  border: 2px solid #785df5;
  box-shadow: 5px 4px 47px 14px rgba(145, 71, 241, 0.13);
  background: rgba(0, 0, 0, 0);
  padding: 0 1.5rem;
}

.missingInput {
  animation: shake 0.5s;
  animation-iteration-count: 1;
  border-color: coral !important
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.uploadPart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.4rem 0;

}

.upload {
  width: 8rem;
}


.uploadButton {
  position: absolute;
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
  font-family: 'Gilroy-Regular';
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  border: 2px solid #785df5;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.missingUploadButton {
  position: absolute;
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
  font-family: 'Gilroy-Regular';
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  border: 2px solid #785df5;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: 1;
  border-color: coral !important
}

.uploadInput{
  opacity: 0;
  position: relative;
  font-size: 1.1rem;
  width: 8rem;
  color: white;
  height: 3rem !important; 
  margin: 0 !important;
  border-radius: 0rem;
  border: 2px solid #785df5;
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0);
  padding: 0 !important;
  cursor: pointer;
}  

.uploadInput input{
  cursor: pointer;
}  

.buttonPart {
  display: flex;
  width: 17rem;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.buttonPart button {
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
}

.primaryButton {
  border: 2px solid #785df5;
  background-color: #785df5;
}

.secondaryButton {
  border: 2px solid #785df5;
  background: rgba(0, 0, 0, 0);
}