.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.topNav {
  display: flex;
  gap: 4rem;
  position: absolute;
  right: 15rem;
  top: 0.6rem;
}
.topNav p {
  cursor: pointer;
  opacity: 0.3;
}
.topNav p:hover {
  opacity: 1;
}

.platformsContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.platformsContainer img {
  width: 11rem;
  height: auto;
  cursor: pointer;
}

.platformsContainer img:hover {
  transform: scale(1.02);
}
