.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.titlePart {
  display: flex; 
  margin-bottom: 2rem;
  justify-content: space-between;
}

.backButton {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 2.8rem;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
  border: 2px solid #695DF5;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.backButton img{
  width: 0.8rem;
  height: auto;
  transform: rotate(90deg);
}

.backButton:hover {
  transform: scale(1.02);
}

.confirmButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.8rem;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
  border: 2px solid #695DF5;
  background-color: #695DF5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.confirmButton:hover {
  transform: scale(1.02);
}

.form1 {
  display: flex;
  flex-direction: column;
  width: 45rem;
  gap: 1rem;
  margin-bottom: 1rem;  
}

.inputGroup {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.inputGroup p {
  display: block;
  min-width: 9rem;
}

.inputGroup input {
  font-size: 1.1rem;
  color: white;
  height: 3rem;
  width: 10rem;
  margin: 0.4rem 0;
  border-radius: 10rem;
  border: 2px solid #695DF5;
  box-shadow: 5px 4px 47px 14px rgba(145, 71, 241, 0.13);
  background: rgba(0, 0, 0, 0);
  padding: 0 1.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

