.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.textPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.buttonPart {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.buttonPart button {
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
}

.primaryButton {
  border: 2px solid #695DF5;
  background-color: #695DF5;
}

.secondaryButton {
  border: 2px solid #695DF5;
  background: rgba(0, 0, 0, 0);
}