
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.textPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
}

.textPart h1{
  margin-top: 0;
}

.form1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.form1 textarea {
  font-size: 1.1rem;
  font-family: 'Gilroy-Regular','Segoe UI', 'Roboto', 'Oxygen';
  color: white;
  height: 2.8rem;
  width: 16rem;
  margin: 0.4rem 0.2rem;
  border-radius: 1.2rem;
  border: 2px solid #785df5;
  box-shadow: 5px 4px 47px 14px rgba(145, 71, 241, 0.13);
  background: rgba(0, 0, 0, 0);
  padding: 0.8rem 1.5rem;
  resize: none;
}
.form1 textarea::-webkit-scrollbar {
  display: none;
}

.form1 textarea {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.buttonPart {
  display: flex;
  width: 17rem;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.buttonPart button {
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
}

.primaryButton {
  border: 2px solid #785df5;
  background-color: #785df5;
}

.secondaryButton {
  border: 2px solid #785df5;
  background: rgba(0, 0, 0, 0);
}
