
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.textPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 0 10vw;
}
.textPart h1{
margin-bottom: 1rem;
}

.summaryDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.column {
  height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.detailsContainerSmall {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: white;
  width: 16rem;
  height: auto;
  margin: 0rem 0;
  border-radius: 1.5rem;
  border: 2px solid #785df5;
  box-shadow: 5px 4px 47px 14px rgba(145, 71, 241, 0.13);
  background: rgba(0, 0, 0, 0);
  padding: 1rem 1rem;
}


.detailsContainerBig {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: white;
  width: 16rem;
  height: auto;
  margin: 0rem 0;
  border-radius: 1.5rem;
  border: 2px solid #785df5;
  box-shadow: 5px 4px 47px 14px rgba(145, 71, 241, 0.13);
  background: rgba(0, 0, 0, 0);
  padding: 1rem 1rem;
}

.element {
  display: flex;
  align-items: baseline;
  margin: 0.3rem 0;
}


.element h3{
  font-size: 1rem;
  display: inline-block;
  width: 6rem;
  margin: 0;
}
.element p{
  margin: 0;
  overflow: hidden;
}

.buttonPart {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}



.primaryButton {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  width: 8.5rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
  border: 2px solid #785df5;
  background-color: #785df5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.primaryButton img{
  width: 1.8rem;
  height: auto;

}
.primaryButton p{
  margin: 0;
  padding:0;  
  font-family: 'Gilroy-Medium';
}

.secondaryButton {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  width: 8.5rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
  border: 2px solid #785df5;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.secondaryButton img{
  width: 1rem;
  height: auto;
  transform: rotate(90deg);
}

.secondaryButton p{
  margin: 0;
  padding:0;  
  margin-right: 0.5rem;
  font-family: 'Gilroy-Medium';
}