<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Easyjob  |  Select a Campaign</title>
    <link rel="stylesheet" href="page1.css" />
  </head>
  <body>
    <div class="primaryCircle"></div>

    <div class="main">
      <h1>Select a Campaign</h1>
      <div class="channels">
          <img src="../assets/images/img-glassdoor.png" alt="glassdoor" id="glassdoor"/>
          <img src="../assets/images/img-linkedin.png" alt="linkedin" class="linkedin"/>
          <img src="../assets/images/img-indeed.png" alt="indeed" class="indeed"/>

      </div>
    </div>

    <div class="secondaryCircle"></div>

  </body>
  <script type="text/javascript">
    let glassdoorImg = document.getElementById('glassdoor')
    let goToNextGlassdoor = () => {window.location.href = "./page2glassdoor.html"}
    glassdoorImg.addEventListener("click", () => {goToNextGlassdoor()});


    let linkedinImg = document.getElementsByClassName('linkedin')
    let goToNextLinkedin = () => {window.location.href = "./page1.html"}

    let indeedImg = document.getElementsByClassName('indeed')
    let goToNextIndeed = () => {window.location.href = "./page1.html"}



  </script>
</html>
