
.navContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2rem;
  align-items: center;
}

.navIcons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  

.navIcon {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
}

.logoutButton {
  z-index: 3;
  width: 8rem;
  height: 2.6rem;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 5px 4px 47px 14px rgb(145 71 241 / 13%);
  cursor: pointer;
  border: 2px solid #785df5;
  background: rgba(0, 0, 0, 0);
  opacity: 0.5
}



.logoutButton:hover {
  opacity: 1
}

.linksContainer{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}




.accountLink {
  width: 12rem;
  height: 2.6rem;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  cursor: pointer;
  border: none;
  background: none;
  opacity: 0.5;
  font-family: 'Gilroy-Light';
}




.accountLink:hover {
  opacity: 1;
  color:#785df5;
}
